.header {
    &__burger {
        position: relative;
        width: 27px;
        height: 19px;
        cursor: pointer;

        &-line {
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 1.530px;
            background: #222222;
            border-radius: 100px;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 7.06px;
            }

            &:nth-child(3) {
                top: 15px;
                width: 78%;
            }
        }
    }

    &__nav {
        display: flex;
        column-gap: 15px;
        justify-content: space-between;
        align-items: center;

        &-bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 40px;
            margin-top: 30px;

            &_link {
                font-size: 14px;
            }

            &_link::after {
                content: '';
                display: block;
                width: 0;
                height: 3px;
                margin-left: 50%;
                background-color: #222222;
                border-radius: 100px;
            }

            &_link:hover::after {
                transition: 0.3s ease-out;
                width: 100%;
                margin: 0;
            }
        }

        &-icon {
            display: flex;
            column-gap: 19px;

            &_burger {
                margin-right: 50px;
                margin-left: 25px;
            }
        }

        &-logo {
            display: flex;
            column-gap: 4px;
            align-items: center;
            padding-left: 45px;

            &_title {
                font-size: 10px;
                color: #8D8D8D;
                font-weight: 500;
            }
        }

        &-num {
            display: flex;
            column-gap: 24px;
            &-icon {
                display: flex;
                column-gap: 18px;
                align-items: center;
                position: relative;
            }
        }

        &-count {
            font-size: 13px;
            font-weight: 700;
            position: absolute;
            top: -13px;
            padding-left: 24px;
        }
    }
}

@media (max-width:425px) {
    .container {
        max-width: 310px;
        margin: 0 auto;
        padding: 19px 20px;
    }

    .header__nav {
        display: flex;
        justify-content: center;
    }

    .header__burger {
        transform: translate(70px, 0);
    }

    .header_inst {
        display: none;
    }

    .adapt_icon {
        transform: translate(-310px, 0);
    }

    .adapt_icon_2 {
        transform: translate(-80px, 0);
    }

    .header__nav-logo {
        transform: translate(-15px, 0);
    }

    .header__nav-bottom {
        display: none;
    }
}

.box {
    height: 80px;
    margin-top: -30px;
}

.boxx {
    margin-top: -40px;

}

.menu {
    display: flex;
    align-items: center;
    line-height: 28px;
    gap: 30px;
    opacity: 0.8;
    filter: alpha(opacity=40);
}

.CATEGORY {
    display: flex;
    align-items: center;
    font-size: 30px;
    line-height: 28px;
    gap: 30px;
}

.mobile_btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 27px;
    cursor: pointer;
    z-index: 10;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    z-index: 10;
    transition: left 1s;
}

.active {
    left: 0;
}

.menu a {
    font-size: 28px;
.theme-toggle {
    @media(max-width: 450px) {
        --size:30px;
    }
}
}