.md26 {
    z-index: 99999999;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .82);
    overflow: auto;
    text-align: center;
    padding: 6px;
    width: 100%;
    &::after {
        content: "";
        display: inline-block;
        font-size: 0;
        height: 100%;
        vertical-align: middle;
        width: 0;
    }
    &__form {
        margin-top: 40px;
    }
    &__main {
        display: inline-block;
        width: 1017px;
        max-width: 100%;
        background-color: transparent;
        text-align: center;
        vertical-align: middle;
        position: relative;
    }
    &__close {
        cursor: pointer;
        width: 120px;
        height: 25px;
        background-color: #000;
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 5px 11px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-family: 'FuturaBookC';
        color: #fff;
        position: relative;
        transition: all .4s ease;
        @media(max-width:576px) {
            width: 40px;
            height: 40px;
            font-size: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
        &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background-size: 25px;
            background-image: url(../assets/modal/close-svgrepo.svg);
            background-repeat: no-repeat;
            background-position: center;
            top: calc(50% - 4px);
            right: 12px;
            @media(max-width:576px) {
                right: 13.7px;
            }
        }
        &:hover {
            opacity: 0.5;
        }
    }
    &__content {
        padding: 66px 120px 70px;
        background-color: #fff;
        text-align: left;
        @media(max-width:992px) {
            padding: 60px;
        }
        @media(max-width:767px) {
            padding: 66px 20px;
        }
        &-title {
            font-family: 'FuturaBookC';
            font-weight: 600;
            font-size: 30px;
            line-height: 33px;
            letter-spacing: 0.03em;
            color: #171717;
            text-transform: uppercase;
            @media(max-width: 992px) {
                text-align: center;
                font-size: 20px;
                line-height: 23px;
            }
        }
        &-subtitle {
            font-family: 'FuturaBookC';
            text-transform: uppercase;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            letter-spacing: 0.03em;
            color: #000000;
            margin: 32px 0 28px;
            @media(max-width: 767px) {
                margin: 29px 0 19px;
                font-size: 16px;
                line-height: 23px;
            }
        }
    }
    &__blocks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width:767px) {
            display: block;
        }
        &-first {
            width: calc(50% - 12px);
            @media(max-width:767px) {
                width: 100%;
            }
            &_top {
                font-family: 'FuturaBookC';
                font-weight: normal;
                font-size: 18px;
                line-height: 23px;
                color: #000000;
                margin-bottom: 18px;
            }
            &_bottom {
                font-family: 'FuturaBookC';
                font-weight: normal;
                font-size: 18px;
                line-height: 23px;
                color: #000000;
            }
        }
        &-second {
            width: calc(50% - 12px);
            @media(max-width:767px) {
                width: 100%;
                margin-top: 15px;
            }
            & p {
                font-family: 'FuturaBookC';
                font-weight: normal;
                font-size: 18px;
                line-height: 23px;
                color: #000000;
                & a {
                    cursor: pointer;
                    font-family: 'FuturaBookC';
                    text-transform: uppercase;
                    text-decoration: none;
                    outline: none;
                    display: inline-block;
                    color: #000000;
                    font-weight: 600;
                    position: relative;
                    transition: all .4s ease-in-out;
                    &::after {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 0;
                        height: 2px;
                        background-color: #000;
                        margin-left: 50%;
                    }
                    &:hover::after {
                        width: 100%;
                        margin: 0;
                        transition: all .4s ease-in-out;
                    }
                }
            }
        }
    }
    &__form-coment_radio {
        padding-top: 0;
        width: 150px;
        min-width: 150px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        &-lab {
            position: relative;
            margin-right: -1px;
            width: 50px;
            min-width: 50px;
            height: 50px;
            user-select: none;
            margin-top:-.9px;
        }
        &-lab input {
            display: none;
        }
        &-lab span {
            font-family: 'FuturaBookC';
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            border: 1px solid #000;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #000;
            position: relative;
            z-index: 1;
            transition: all 0.4s;
            overflow: hidden;
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                left: -100%;
                top: 100%;
                width: 400%;
                height: 1px;
                background-color: #DADADA;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                opacity: 0;
            }
        }
        &-lab input:disabled + span {
            border-color: #DADADA;
            color: #DADADA;
        }
        &-lab input:disabled + span::before {
            opacity: 1;
        }
        &-lab input:checked + span {
            color: #fff;
            z-index: 3;
            background-color: #222;
            border-color: #222;
        }
    }
}