.md27 {
  &__over{
    z-index: 99999999;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(0, 0, 0, .82);
      overflow: auto;
  }
  &__inner {
      width: 914px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      margin: 15px  auto;
      background-color: transparent;
      text-align: center;
      position: relative;
  }
  &__close {
      cursor: pointer;
      width: 120px;
      height: 25px;
      background-color: #000;
      margin-left: auto;
      display: flex;
      align-items: center;
      padding: 5px 11px;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      font-family: 'FuturaBookC';
      color: #fff;
      position: relative;
      transition: all .4s ease;
      @media(max-width:576px) {
          width: 40px;
          height: 40px;
          font-size: 0;
          position: absolute;
          right: 0;
          top: 0;
      }
      &::after {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          background-size: 25px;
          background-image: url(../assets/modal/close-svgrepo.svg);
          background-repeat: no-repeat;
          background-position: center;
          top: calc(50% - 4px);
          right: 12px;
          @media(max-width:576px) {
              right: 13.7px;
          }
      }
      &:hover {
          opacity: 0.5;
      }
  }
  &__main {
      background-color: #fff;
      padding: 66px 120px 70px;
      cursor: grabbing;
      @media(max-width:992px) {
          padding: 66px 20px 60px;
      }
      &-title {
          font-family: 'FuturaBookC';
          font-weight: 600;
          font-size: 30px;
          line-height: 33px;
          letter-spacing: 0.03em;
          color: #171717;
          text-transform: uppercase;
          text-align: left;
          @media(max-width:992px) {
              text-align: center;
              font-size: 20px;
              line-height: 23px;
          }
      }
      &-recom {
          font-family: 'FuturaBookC';
          text-align: left;
          font-weight: 600;
          font-size: 18px;
          line-height: 23px;
          letter-spacing: 0.03em;
          color: #000000;
          margin-top: 30px;
          @media(max-width: 992px) {
              font-size: 16px;
              line-height: 23px;
              margin-top: 29px;
          }
      }
  }
  &__imgl {
      overflow: hidden;
      @media(max-width: 1400px) {
          height: 333px;
      }
      @media(max-width:992px) {
          padding: 0;
          height: 200px;
      }
      @media(max-width:250px) {
          height: 250px;
      }
  }
  &__jpg-imgs{
      outline: none;
      overflow: hidden;
      display: block;
      height: 260px;
      width: 100%;
      object-fit: cover;
  }
  &__blocks {
      display: flex;
      justify-content: space-between;
      @media(max-width:992px) {
          margin: 0 -5px;
          overflow-x:scroll;
          flex-wrap: nowrap;
      }
      &-card {
          padding: 0 18.5px;
          margin-top: 20px;
      }
  }
  &__card {
      display: flex;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 20px;
      & a {
          & svg{
              @media(max-width:992px) {
              width: 16px;
              }
          }
          @media(max-width: 992px) {
              margin-top: 4px;
          }
      }
      &-title {
          font-family: 'FuturaBookC';
          font-weight: 600;
          font-size: 15px;
          line-height: 16px;
          color: #222222;
          @media(max-width: 576px) {
              font-size: 12px;
              white-space:pre-wrap;
              line-height: 18px;
              min-height: 36px;
          }
      }
  }
  &__pay {
      margin-top: 20px;
      text-align: left;
      display: flex;
      justify-content: space-between;
      text-align:flex-start;
      &-price {
          font-family: 'FuturaBookC';
          font-size: 15px;
          font-weight: 600;
          white-space: nowrap;
          line-height: 21px;
          color: #222222;
      }
      &-desc {
          font-family: 'FuturaBookC';
          font-weight: 500;
          font-size: 12px;
          line-height: 21px;
          text-align: right;
          color: #AFAFAF;
          @media(max-width:992px) {
              display: none;
          }
      }
  }
  &__btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      margin-top: 45px;
      @media(max-width:992px){
          display: block;
      }
      &-first {
          outline: none;
          border: 1px solid #E3E3E3;
          background-color: transparent;
          color: #454545;
          transition: all .4s ease;
          &:hover {
              background-color: #000000;
          }
      }
      &-second {
          outline: none;  
          border: 1px solid #242424;
          background-color: #242424;
          transition: all .4s ease;
          @media(max-width:992px) {
              background-color: #000;
          }
          &:hover {
              background-color: #fff;
          }
      }
  }
}

.btn {
  cursor: pointer;
  font-family: 'FuturaBookC';
  width: calc(50% - 6.5px);
  color: #828282 !important;
  border-radius: 3px;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  @media(max-width: 992px) {
      width: 100%;
      margin-top: 20px;
  }
}