.md28 {
  z-index: 99999999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.82);
  overflow: auto;
  text-align: center;
  padding: 6px;
  width: 100%;
  &::after {
    content: "";
    display: inline-block;
    font-size: 0;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  &__main {
    display: inline-block;
    width: 792px;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    max-width: 100%;
    position: relative;
  }
  &__close {
    cursor: pointer;
    width: 120px;
    height: 25px;
    background-color: #000;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 5px 11px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-family: "FuturaBookC";
    color: #fff;
    position: relative;
    transition: all 0.4s ease;
    @media (max-width: 576px) {
      width: 40px;
      height: 40px;
      font-size: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-size: 25px;
      background-image: url(../assets/modal/close-svgrepo.svg);
      background-repeat: no-repeat;
      background-position: center;
      top: calc(50% - 4px);
      right: 12px;
      @media (max-width: 576px) {
        right: 13.7px;
      }
    }
    &:hover {
      opacity: 0.5;
    }
  }
  &__content {
    padding: 67px 110px;
    background-color: #fff;
    text-align: left;
    @media (max-width: 767px) {
      padding: 64px 40px;
    }
    @media (max-width: 400px) {
      padding: 66px 20px;
    }
    @media (max-width: 576px) {
      padding: 40px 20px;
    }
    &-title {
      font-family: "FuturaBookC";
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      font-weight: 600;
      color: #171717;
      margin-bottom: 16px;
      @media (max-width: 992px) {
        text-align: center;
        font-size: 20px;
        line-height: 23px;
      }
    }
    &-blocks {
      display: flex;
      column-gap: 50px;
      padding: 16px 0;
      align-items: center;
      border-bottom: 1px solid #e6e7eb;
      @media (max-width: 500px) {
        column-gap: 0;
        text-align: center;
      }
      & li {
        width: 120px;
        flex-grow: 1;
        font-family: "FuturaBookC";
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #000000;
        @media (max-width: 400px) {
          font-size: 14px;
          line-height: normal;
        }
        & b {
          display: inline-block;
          padding: 2px 4px;
          background-color: #000;
          line-height: 22px;
          color: #ffffff;
          font-weight: 500;
        }
      }
    }
  }
}
