.about {
  // padding: -40px 0;

  .brand {
    padding: 40px 0;

    &-title {
      font-family: "FuturaBookC";
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      text-align: center;
      margin: 30px;
    }

    &-img {
      width: 100%;
      height: 600px;
      background: url("../../assets/About/image.jpg"), no-repeat center;
      @media (max-width: 1408px) {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 60vw;
      }
    }

    &-text {
      padding: 50px;
      font-family: "HelveticaNeueCyr";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.05em;
      color: #171717;
      columns: 570px 2;
      column-gap: 50px;
      @media (max-width: 1328px) {
        padding: 0;
        margin-bottom: 75px;
      }
      &-title {
        font-family: "FuturaBookC";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #000000;
      }

      &-p {
        text-align: left;
        width: 570px;
        @media (max-width: 1328px) {
          width: 100%;
        }
      }
    }

    &-block {
      padding: 0 50px;
      display: flex;
      column-gap: 50px;
      @media (max-width: 1363px) {
        flex-direction: column;
        align-items: center;
      }

      &-cards {
        display: flex;
        flex-wrap: wrap;
        row-gap: 25px;

        & img {
          width: 100%;
        }

        &-title {
          font-family: "FuturaBookC";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
        }

        &-subtitle {
          font-family: "HelveticaNeueCyr";
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          @media (max-width: 1363px) {
            margin-bottom: 37px;
          }
        }
      }
    }
  }

  @media all and (max-width: 1328px) {
    .brand-text-title {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  .our-adv {
    padding: 70px 0;
    background: #252831;
    color: #fff;
    text-align: center;
    justify-content: center;

    &-title {
      font-family: "FuturaBookC";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: #fff;
    }

    &-row {
      margin-left: 20px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 60px;
      @media(max-width:1355px) {
        justify-content: center;
      }
    }

    &-card {
      width: 390px;
      height: 160px;
      margin: 40px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 30px;
      padding: 0 25px;

      &-text {
        height: 74px;
        font-family: "HelveticaNeueCyr";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #c0a78f;
      }
    }
  }
}

.registr {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #9d9dad;

  &-block {
    background: #fff;
    width: 1338px;
    padding: 37px 200px 45px;
    @media(max-width: 1340px) {
      padding:0;
      width: 100%;
      padding: 40px 0 44px;
    }
  }

  &-icon {
    display: block;
    margin: 0 auto;
  }

  &-title {
    font-family: "FuturaBookC";
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    margin: 23px 0 30px;
    color: #000;
  }

  &-form {
    display: flex;
    flex-wrap: wrap;
    @media(max-width:1338px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-sections input {
      padding: 20px;
      border: 0.5px solid #000;
      background-color: transparent;
      outline: none;
      width: 312px;
      height: 60px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }

    &-com {
      margin-top: 20px;
      padding: 20px;
      width: 312px;
      display: block;
      flex-grow: 1;
      height: 100px;
      letter-spacing: 0.06em;
      border: 1px solid #000;
      resize: none;
    }

    &-btn {
      cursor: pointer;
      margin-top: 20px;
      width: 175px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #000;
      transition: all 0.3s ease-in;
      background-color: transparent;
      &:hover {
        background-color: #000000;
        color: #fff;
      }
    }
  }

  &-p {
    font-size: 14px;
    margin: 16px 0;
    text-align: left;
    @media(max-width: 1338px ) {
      display: none;
    }
  }
}
